@import "variables";
@import "mixins";
@use "sass:map";
*{
    margin:0;
}
header{
    background: url(../image/Rectangle.png) no-repeat;
}
.header__main{
    margin: 0 auto;
    width: $mainWidth;
}
.menu{
    padding-top:20px;
    display:flex;
    justify-content: space-between;
}
.header__text{
    margin: 100px auto;
    width: 734px;
    display:flex;
    flex-direction: column;
    text-align: center;
}
.texth1{
    color: $color1;
    @include fonth1
}
.header__text p{
    color:$color1;
    @include fontp
}
.header__numbers {
    display:flex;
    justify-content: space-evenly;
    align-self: center;
    margin-top:180px;
    background-color: #F7F7F7;
    width:$mainWidth;
    height:300px;
}
.header-block{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    &:hover{
        border-right:1px solid black;
        border-left:1px solid black;
    }
  
}
.header-block h2{
    color:$color2;
    @include fonth2;
}
.header-block h3{
    color:black;
    @include fonth3;
}
.header-block p{
    color:#999999;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

// Основная часть

.main__main{
    width:$mainWidth;
    margin: 50px auto;    
}
.main__main h2{
    @extend .texth1;
    color: $color3;
    text-align: center;
    font-size: 43px;
}
.projects{
    display:flex;
    justify-content: space-between;
}
.project h4{
    @include fontp
}


.banner{
    background-color: $color2;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner__text h3{
    color: $color1;
    @include fonth3;
}
.banner__text h4{
    @include fontpra(white,bold);
}

.banner__email{
    background-color: white;
    width:175px;
    height:50px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.banner__email p{
    color:black;
    @include fontp;
    font-size:15px;
    &:hover{
        color: orange;
    }
}


.contacts{
    width:$mainWidth;
    margin: 50px auto;
}
.contacts h2{
    text-align: center;
    @include fontp;
}
.contact{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.address{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.address svg{
    margin-top:20px;
}
.address h4{
    margin-top:10px;
    color:gray;
}
.address h3{
    margin-top:10px;
}


footer{
    background-color: #404149;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}
footer p{
    color:white;
}